
body {
    width: 1000px;
    margin: 10px auto;
}

.gender-label {
    background-color: cadetblue;
    color:beige;
}

label.gender-label {
    padding: 10px;
    background-color: rgb(160, 98, 95, 0.5);
}

#username {
    background-color: aqua;
    font-family: "Times New Roman", Verdana, Consolas, "Lucida Console", Arial
}


#username {
    background-color:azure;
}

label.gender-label.female span, #asdf#qwert {
    color: white;
}

#container div {
    background-color: azure;
    border: solid #c1eef1;
}

#container div:hover {
    background-color: blue;
    cursor: pointer;
}


#username:focus {
    background-color: bisque;
}

nav {
    position: fixed;
    right: 0px;
    top: 50px;
    background: #c7baba;
    padding: 10px;
    border: solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0px;
}